#logoPicture{
    margin-top: 10px;
}
#subButton{
    margin-top: 20px;
    margin-bottom: 20px;
}

#incidentSubButton{
    margin-top: 10px;
    margin-bottom: 10px;
}

#indexUserPoliceBadge{
    margin-top: 10px
}

.bg-blue{
    background-color: #000080;
    color: white;
}

.bg-blueb{
    background-color: #3A5FCD;
    color: white;
}

.nav-link{
    color: white;
}


